@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Cormorant+Garamond:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-primary: #7A4900;
  --color-secondary: #545454;
  --color-accent: #D4AF37;
  --color-bg: #f5f5f0;
}

@layer base {
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
